@CHARSET "UTF-8";
.background {
	width: 1100px;
	background-color: #F1F0F2;
}
.join-form {
	margin: auto;
	width: 50%;
	padding: 10px;
	background-color: #FEFEFE;
}
.join-form__title {
	border-bottom: 2px solid black;
	padding-left: 15px;
}
.join-form__info1 {
    margin: 30px auto 40px;
    display: flex;
	flex-direction: column;
	width: 70%;
}
.join-form__info2 {
	margin: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 70%;
}
.join-form__info1 [type="text"], .join-form__info1 [type="password"],
.join-form__info2 [type="text"], .join-form__info2 [type="email"], 
.join-form__info2 [type="number"], .join-form__info2 [type="select"]{
	padding: 6px 10px;
	border: 1px solid #b7b7b7;
	border-radius: 6px;
	font: normal 14px/0 Tahoma, Geneva, sans-serif;
	color: #0A1F33;
	text-overflow: clip;
	background: rgba(252,252,252,1);
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
	margin-top: 20px;
}
.join-form__info2 [type="email"] {
	width: 254px;
}
.join-form__info2 [type="date"] {
	padding: 6px 10px;
	border: 1px solid #b7b7b7;
	border-radius: 6px;
	color: #0A1F33;
	text-overflow: clip;
	background: rgba(252,252,252,1);
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
	margin-top: 20px;
}
.join-form__info2__gender {
	padding: 6px 10px;
	border: 1px solid #b7b7b7;
	border-radius: 6px;
	font: normal 14px/0 Tahoma, Geneva, sans-serif;
	color: #0A1F33;
	text-overflow: clip;
	background: rgba(252,252,252,1);
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
	margin-top: 20px;
}
.join-form__join-btn {
	text-align: center;
	margin-top: 10px;
}
.join-form__info2__confirm-button {
	box-sizing: content-box;
	cursor: pointer;
	padding: 6px 10px;
	border: 1px solid #018dc4;
	border-radius: 9px;
	font: normal 13px "Trebuchet MS", Helvetica, sans-serif;
	color: rgba(255,255,255,0.9);
	background: #308FBF;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
	margin-top: 20px;
}
.join-button {
	box-sizing: content-box;
	cursor: pointer;
	padding: 9px 15px;
	border: 1px solid #018dc4;
	border-radius: 9px;
	font: normal medium/normal "Trebuchet MS", Helvetica, sans-serif;
	color: rgba(255,255,255,0.9);
	background: #444444;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
	margin-top: 20px;
	margin-bottom: 20px;
}
.join-button:hover {
    background: #4C4C4C;
}
.join-button:active {
    background: #242424;
}
.join-form__info2__confirm-button, .join-form__info2__input-confirm-num {
	box-sizing: content-box;
	cursor: pointer;
	padding: 6px 10px;
	border: 1px solid #018dc4;
	border-radius: 9px;
	font: normal 13px "Trebuchet MS", Helvetica, sans-serif;
	color: rgba(255,255,255,0.9);
	background: #308FBF;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
	margin-top: 20px;
}
.join-form__info2__confirm-button:hover {
    background-color: #36A3D9;
}
.join-form__info2__confirm-button:active {
    background-color: #297AA3;
}
button#confirm-number {
    background: #777777;
    border: #000000;
    width: 40px;
}
button#confirm-number:hover {
    background: #6f6f6f;
    border: #000000;
}
button#confirm-number:active {
    background: #525252;
    border: #000000;
}
input#confirm-number {
    width: 296px;
}
.join__resultText {
	color: #f1859b;
    font-size: small;
    font-weight: bold;
}