@CHARSET "UTF-8";
.member-management {
    display: flex;
    flex-direction: column;
    padding: 20px;    
}
.member-management__find {
    display: flex;
    margin-bottom: 10px;
}

.member-management__find__label {
    padding-left: 20px;
}

.member-management__find__input {
    margin-left: 6px;
}

.member-management__find__btn-div {
    padding-left: 20px;
}

.member-management__find__btn-div button {
    font-family: 'Jeju Gothic', serif;
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 7px 13px 7px 13px;
    border: 2px solid #8d5353;
    border-radius: 9px;
    color: #fcf3f3;
    text-overflow: clip;
    background: rgba(193, 94, 94, 0.86);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgb(147, 158, 160);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    font-size: 16px;
}

.member-management__find__btn-div button:hover {
    background-color: rgba(226, 92, 92, 0.86);
}

.member-management__find__input {
    margin-left: 6px;
    padding-left: 5px;
    height: 25px;
    width: 153px;
    box-sizing: content-box;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font-family: 'Jeju Gothic', serif;
    color: #0A1F33;
    text-overflow: clip;
    background: rgba(255, 255, 255, 0.63);
    box-shadow: 2px 2px 2px 0 rgba(12,102,137,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    font-size: 16px;
}

.member-management__label {
    font-size: 18px;
    background: #2e2e2e;
    color: whitesmoke;
    padding: 10px 0px;
}
.member-management__tr:NTH-CHILD(2n+1) {
    background-color: #f0eeee;
}
.member-management__tr {
    display: table-row;
    padding: 4px 0px;
}
.member-management__td {
    display: table-cell;
    font-size: 15px;
}

.user-label {
	font-size: 17px;
}

.member-management__id {
    width: 115px;
}
.member-management__name {
    width: 79px;
}
.member-management__gender {
    width: 59px;
}
.member-management__birth {
    width: 130px;
}
.member-management__regdate {
    width: 100px;
}
.member-management__email {
    width: 221px;
}
.member-management__status {
    width: 66px;
}
.member-management__modify {
    width: 46px;
}

.member-management__align-center {
	text-align: center;
}