@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
/*font-family: 'Jeju Gothic', serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family: 'Nanum Gothic', serif; 비밀번호*/

/**************MYINFO***************/
/*내정보 전체*/
.div-myinfo {
    width: 900px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}


/*내정보 타이틀*/

.tab-myinfo__title {
	display: inline-block;
	background-color: #97675e;
	width: 180px;
	font-family: 'Jeju Gothic', serif;
    color: white;
    padding-left: 20px;	
    font-size: 20px;
    cursor: pointer;
}
.tab-reservationInfo__title {
	display: inline-block;
	background-color: #97675e;
	width: 180px;
	font-family: 'Jeju Gothic', serif;
    color: white;
    padding-left: 20px;	
    font-size: 20px;
    cursor: pointer;
}

.tab-myinfo__title:hover {
    background-color: #CA9381;
}

.tab-reservationInfo__title:hover {
    background-color: #CA9381;
}
/*내정보 내용부분*/
.div-myinfo__content {
	font-family: 'Jeju Gothic', serif;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    flex-direction: column;
	border: 1px solid #97675e;
    /*font-size: 12px;*/
    line-height: 1.5em;
    background-color: white;
}

/*내정보 글씨 */
.label-myinfo__content__id {
	font-family: 'Jeju Gothic', serif;
	margin-left: 130px;
	margin-right: 35px;
	font-size: 17px;
	font-weight: bold;
}
.label-myinfo__content__name {
	margin-left: 130px;
	margin-right: 50px;
	font-size: 17px;
	font-weight: bold;
}
.label-myinfo__content__gender {
	margin-left: 130px;
	margin-right: 50px;
	font-size: 17px;
	font-weight: bold;
}
.label-myinfo__content__email {
	margin-left: 130px;
	margin-right: 35px;
	font-size: 17px;
	font-weight: bold;
}
.label-myinfo__content__birth {
	margin-left: 130px;
	margin-right: 50px;
	font-size: 17px;
	font-weight: bold;
}
.text-myinfo__content{
	color: #414141;
	font-family: 'Jeju Gothic', serif;
    border: none;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 15px;
    width: 260px;
}

/**************MYINFO BUTTONS***************/
.button-myinfo-change-withdraw,
.button-myinfo-change-pwd,
.button-myinfo-change-email {
	font-family: 'Jeju Gothic', serif;
	font-size: 15px;
	display: inline-block;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	cursor: pointer;
	padding: 8px 20px;
	border: 1px solid #018dc4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: rgba(255,255,255,0.9);
	-o-text-overflow: clip;
	text-overflow: clip;
	background: #0A1F33;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
	text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);	
	margin: 20px 5px 30px 0px;
}
.button-myinfo-change-withdraw:hover,
.button-myinfo-change-pwd:hover,
.button-myinfo-change-email:hover {
	border: 1px solid #007cad;
	background: #12385b;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
