@CHARSET "UTF-8";
body {
    display: flex;
    align-items: center;
    justify-content: center;

}
.container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 1100px;
}	
.header {
    display: flex;
    flex-basis: 210px;
}		
.header__menu-and-title {
    display: flex;
    flex-direction: column;
}
.header__menu-and-title__title {
    flex-basis: 100%;
    color: #F2F2E6;
    text-align: center;
}
.header__menu-and-title__menu {
    display: flex;
    flex-basis: 50px;
    background-color: #8BACD9;
}
.header__login {
	flex-basis: 250px;
    padding: 5px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

.header__login__comp {
    display: flex;
    flex-basis: 65px;
    margin-bottom: 15px;
}

.header__login__comp__submit {
	flex-grow: 1;
	display: flex;
}
.header__login__comp__submit button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  font: normal medium/normal "Trebuchet MS", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #444444;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.header__login__comp__submit:hover button {
  border: 1px solid #007cad;
  background: #262626;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.header__login__comp__submit:active button {
  border: 1px solid #018dc4;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
  text-shadow: none;
  -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}
.header__login__comp [type="submit"] {
	flex-grow: 1;
	margin-left: 3px
}
.header__login__comp__inputtext {
	display: flex;
	flex-direction: column;
	flex-basis: 160px;
	margin-right: 3px;
}
.header__login__comp [type="text"]{
	flex-grow: 1;
    margin-bottom: 3px;
    box-sizing: content-box;
    padding: 4px 0px 3px 11px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 13px/normal "Comic Sans MS", cursive, sans-serif;
    color: #0A1F33;
    width: 160px;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    box-shadow: 2px 2px 2px 0 rgba(12,102,137,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.header__login__comp [type="password"]{
    flex-grow: 1;
    margin-bottom: 3px;
    box-sizing: content-box;
    padding: 4px 0px 3px 11px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    width: 160px;
    font: normal 13px/normal "Comic Sans MS", cursive, sans-serif;
    color: #0A1F33;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    box-shadow: 2px 2px 2px 0 rgba(12,102,137,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.header__login__text {
	text-align: center;
    flex-grow: 1;
    font-size: 14px;
}	
.content{
	display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
    background-color: #F1F0F2;
}
.content__sub-menus {
    display: flex;
}
.content__body {
	padding: 10px;
}
.header__menu-and-title__menu a:visited {
    color: #262626;
}
.header__menu-and-title__menu a:hover {
    color: white;
}
.header__menu-and-title__menu a:link {
    text-decoration: none;
    color: #262626;
}
.header__login__text a:visited {
    color: #262626;
}

.header__login__text a:hover {
    color: #308FBF;
}

.header__login__text a:link {
    text-decoration: none;
    color: #262626;
}
.header__menu-and-title__menu a {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__login__keep-login {
	flex-grow: 1;
    padding-top: 20px;
}

.footer {
    flex-basis: 150px;
    background-color: #262626;
    color: #DBDBDB;
    padding: 20px;
}

.header__logon {
	display: flex;
    flex-direction: column;
    flex-basis: 276px;
    background-color: #F1F0F2;
}

.header__logon__top {
    flex-grow: 1;
    margin: auto;
}

.header__logon__bottom {
    flex-grow: 1;
    display: flex;
    background-color: #5E6472;
    color: #F1F0F2;
}

.header__logon__bottom__reserve {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logon__bottom__service {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logon__bottom__reserve:hover {
	background-color: #828B9E;
}
.header__logon__bottom__service:hover {
	background-color: #828B9E;
}

.header__logon__top__wellcom-text {
	margin-top: 40px;
    font: status-bar;
    margin-bottom: 20px;
}
.header__logon__top__buttons {
	display: flex;
}
.header__logon__top__buttons button {
	box-sizing: content-box;
    cursor: pointer;
    padding: 6px 15px;
    border: 1px solid #262626;
    border-radius: 6px;
    font: normal small/normal "Trebuchet MS", Helvetica, sans-serif;
    color: #fffff2;
    text-overflow: clip;
    background: #0A1F33;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    margin: auto 5px;
}
.header__menu-and-title__title {
	cursor: pointer;
}
.header__menu-and-title__menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8BACD9;
    display: flex;
}
.dropdown__main-menu {
	float: left;
	flex-grow: 1;
	text-align: center;
}
.dropdown__main-menu a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown__main-menu a:hover {
	background-color: #9BC0F2;
}

.dropdown__main-menu {
	display: inline-block;
}
.dropdown__sub-menu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown__sub-menu a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown__sub-menu a:hover {
	background-color: #f1f1f1
}
.dropdown__main-menu:hover .dropdown__sub-menu {
	display: block;
}

.header__menu-and-title__menu a:link {
    text-decoration: none;
    color: #262626;
    display: block;
    padding: 10px;
}