@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

/*공통*/
.maintitleFont {
    display: block;
    text-align: center;
    border-bottom: 7px dotted darksalmon;
    font-size: 28px;
    border: asdasd;
    padding: 10px;
    margin: 80px 0px 20px 0px;
    font-family: 'Jeju Gothic', serif;
}
a {
	text-decoration: none;
}
a:hover {
	color: tomato;
}
@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}
.slider { 
	/* background-color:#001428; */
	overflow: hidden; 
}
.slider figure img {
	width: 20%;
	float: left; 
    height: 530px;
    margin-top: 90px;
}
.slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	top:0;
	left: 0;
	text-align: left;
	font-size: 0;
	-webkit-animation: 10s slidy ease-in-out infinite;
	animation: 10s slidy ease-in-out infinite;
}

/********************최근상영작********************/
.mainContiner_middle {
	display: block;
}
.mainCurrnetFilm {
	display: table-cell;
    padding: 0px 10px 30px 20px;
}
.mainFilmImg {
	width: 200px;
	height: 300px;
	background-size: 200px 300px;
    margin-right: 38px;
    display: inline-block;
}
.mainFilmImg__title {
    display: block;
    margin: 15px 0px 0px -40px;
    text-align: center;
    font-size: 20px;
}
.mainFilmImg:hover {
    box-shadow: 1px 1px 1px 120px rgba(50, 50, 50, 0.77) inset;
}
.mainFilmImg:hover .hiddenText{
    opacity: 0.9;
}
/*상세보기*/
.hiddenText {
    font-family: 'Jeju Gothic', serif;
    cursor: pointer;
    position: absolute;
    margin: 120px 26px;
    color: #d7cdac;
    font-size: 24px;
    width: 110px;
    border-radius: 7px;
    border: 1px solid #d7cdac;
    padding: 15px 10px 10px 30px;
    opacity: 0;
}

/*관람등급*/
.ageLimit15 {
    font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #fd9800;
	padding: 4px 2px 1px 3px;
}
.ageLimit12 {
	font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #037eb7;
	padding: 4px 2px 1px 3px;
}
.ageLimitAll {
    font-family: 'Jeju Gothic', serif;
    font-size: 13px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #7fc41b;
	padding: 4px 2px 2px 2px;
}
.ageLimit19 {
    font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #ff0000;
	padding: 4px 2px 1px 3px;
}

/*하단 공지사항 */
.mainContiner_bottom {
	display: inline-flex;
	margin-bottom: 50px;
	margin-left: 40px;
}
.mainContiner-notice {
	margin-top: -50px;
	width: 500px;
}
.locationNotice {
	margin-left: 280px;
	color: black;
	font-size: 35px;
}
.mainContiner-notice-title {
	display: flex;
	text-align: center;
	border-bottom: 2px solid #c9c6ad;
	padding: 7px;
	font-size: 18px;
	margin: 0px 20px 0px 20px;
}
.mainContiner-notice-content {
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	padding: 7px;
	font-size: 15px;
	margin: 0px 20px 0px 20px;
}
.noticeTitle {
	margin-left:5px;
	width: 350px;
	color: black;
}
.noticeDate {
	width: 100px;
	text-align: center;
}
.titleHover {
	cursor: pointer;
}
.titleHover:hover {
	color:gray;
	font-weight: bold;
}

.import {
	color: tomato;
}
.importImg {
	width: 16px;
	height: 16px;
}
