@CHARSET "UTF-8";
.border-dashed {
    border: 0.1em dashed darkgray;
    border-radius: 10px;	
    padding: 10px;
}

.font-family {
	font-family: 'Jeju Gothic', serif;
}

.subject {
	background-color: rosybrown;
    margin: 0px;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    font-size: large;
    margin-bottom: 10px;
}

.cursor {
	cursor: pointer;
}

.display-flex {
	display: flex;
}

.calendar {
    text-align: center;
    width: 270px;
    padding: 10px;
}

.calendar__dayTable {
    width: 100%;
    border-collapse: collapse;
    color: white;
}
.calendar__month {
    margin: 10px 0px;
}

.calendar__week__row {
    background-color: rosybrown;
    border-radius: 10px;
    height: 25px;
}

.calendar__day__row {
    height: 30px;
}

.calendar__year {
	font-size: 19px;
    padding: 5px;
    margin-bottom: 3px;
    color: indianred;
}

.calendar__month {
    font-size: 17px;
}

.calendar__day__data:hover {
    background-color: #dac7cd;
    color: #805c5c;
}


.calendar__day-color-possible {
	color: #875c5c;
}

.calendar__day-color-impossible {
	color: #d1c9c9;
}

.calendar__day-background {
	background-color: lavenderblush;
}

.calendar__day-hover-background:hover {
	background-color: #ffd5e3;
}

.calendar table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}
.calendar table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.calendar table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.calendar table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.calendar span.icono-caretRightCircle, span.icono-caretLeftCircle {
	color: lightpink;
}
.calendar span.icono-caretRightCircle:hover, span.icono-caretLeftCircle:hover {
	color: lightcoral;
}

.movie-title {
    padding: 8px;
    margin-bottom: 10px;
}

.movie-title__body {
	list-style-type: none;
  	padding: 0;
    margin: 0px;
    margin-bottom: 10px;
}
.movie-title__body__li {
	padding: 10px;
    padding-left: 25px;
}
.movie-title__body li:hover {
	background-color: #e8e3e5;
}
.movie-title__body__limit {
	display: inline-block;
    border-radius: 12px;
    padding: 2px;
    font-size: x-small;
    font-weight: bold;
}
.movie-title__body__limit.limitAll {
	background-color: #079a3e;
}
.movie-title__body__limit.limit12 {
	background-color: #00a1e9;
}
.movie-title__body__limit.limit15 {
	background-color: #efa025;
}
.movie-title__body__limit.limit19 {
	background-color: #c30e23;
}

.screening {
    margin-left: 10px;
    width: 500px;
}
.screening__default-text {
    margin: 60px 0 50px 30px;
}