@CHARSET "UTF-8";

.ticketing-result {
    margin: auto;
}

.ticketing-result__message {
    font-size: x-large;
    line-height: 2em;
    text-align: center;
}

.ticketing-result__btns {
    text-align: center;
}

.ticketing-result__success-btn {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 9px;
    color: #ffffff;
    font-size: larger;
    text-overflow: clip;
    background: rgb(221, 114, 107);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgb(97, 116, 120);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    margin-top: 12px;
    font-family: 'Jeju Gothic', serif;
}

.ticketing-result__success-btn:hover {
    background-color: #87b0ac;
}

.ticketing-result__fail-btn {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 9px;
    color: #ffffff;
    font-size: large;
    text-overflow: clip;
    background: rgb(221, 114, 107);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgb(97, 116, 120);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    margin-top: 12px;
}

.ticketing-result__fail-btn:hover {
    background-color: #e7857f;	
}