@CHARSET "UTF-8";

.calendar {
    text-align: center;
    width: 270px;
}

.calendar__dayTable {
    width: 100%;
    border-collapse: collapse;
    color: white;
}
.calendar__month {
    margin: 10px 0px;
}

.calendar__week__row {
    background-color: rosybrown;
    border-radius: 10px;
    height: 25px;
}

.calendar__day__row {
    height: 30px;
}

.calendar__year {
    font-size: 19px;
    padding: 15px;
    background-color: linen;
    border-radius: 20px;
    margin-bottom: 3px;
    color: indianred;
}

.calendar__month {
    font-size: 17px;
}

.calendar__day__data {
    background-color: lavenderblush;
    color: rosybrown;
}
.calendar__day__data:hover {
    background-color: #dac7cd;
    color: #805c5c;
}

table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}