@CHARSET "UTF-8";

.container__showtimes {
	background-color: white;
    padding: 20px;
    width: 950px;
    margin: auto;
}

.container__movie__screening__date {
	width: 100%;	
}
	
.container__showtimes__title {
	border-bottom: solid black;
    padding-bottom: 15px;
    margin-top: 3px;
    display: inline-block;
    width: 824px;
}
	

.container__showtimes__title__btn {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 16px;
    border: 1px solid #bd8888;
    border-radius: 3px;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #9f3434;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    font-family: 'Jeju Gothic', serif;
    font-size: 15px;
}	
.container__showtimes__title__btn:hover {
    background-color: #cd5555;
}
	
button.movie_screening_date {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    height: 58px;
}

button.movie_screening_date.active, button.movie_screening_date:hover {
    background-color: rgb(213, 160, 161);
    color: white;
    font-size: 17px;
}


div.movie_screening_panel {
	background-color: white;
    max-height: 0;
    overflow: hidden;
    width:1100px;
    transition: 0.6s ease-in-out;
    opacity: 0;
    width: 100%;
    
}

div.movie_screening_panel.show {
    opacity: 1;
    max-height: 800px;

}

div.screening-date-panel0 {
	opacity: 1;
    max-height: 800px;
}

button.screening-date-btn0 {
	background-color: rgb(213, 160, 161);
}

.movie__info {
	display: flex;
	background-color: white;
	height: 60px;
	line-height:70px;
	text-align: center;
	text-overflow:ellipsis;
    border-bottom: 1px dashed;
}
	
	
.movie__title {
	display: inline-block;
	width: 35%;
	background-color: 
	 opacity: 1.0;
    filter: alpha(opacity=100);
	
}


.movie__room1 {
	display: inline-block;
	width:15%;
	background-color:
	opacity: 1.0;
    filter: alpha(opacity=50);
	
}
	
.movie__room1:hover {
	opacity: 0.5;
	filter: alpha(opacity=100);
}

.movie__room2 {
	display: inline-block;
	width:15%;
	
}
	
.movie__room2:hover {
	opacity: 0.5;
	filter: alpha(opacity=100);
}
	
.movie__room3 {
	display: inline-block;
	width:15%;
}
	
.movie__room3:hover {
	opacity: 0.5;
	filter: alpha(opacity=100);
}	