@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
/*font-family: 'Jeju Gothic', serif; -> 이렇게 사용하심 되영*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family: 'Nanum Gothic', serif; 비밀번호*/

.div__serviceCenter_Container_Tab {
    border: 3px solid #e8f2e6;
    height: 699px;
    width: 885px;
}


.service-tab-menu {
    display: inline-block;
    padding: 0px 93px;
    cursor: pointer;
}

ul.serviceCenter_Tab {
    padding: 0px 6px;
}
.div__serviceCenter_form.js_serviceCenter.point {
    MARGIN-TOP: 23px;
    width: 900px;
}

.servieCenterTitle {
	font-size: 29px;
}

.div__serviceCenter__intro {
    padding: 8px;
    font-size: 20px;
    margin: 20px 0px 0px 20px;
}

/*자주하는 질문*/
.container__serviceCenterFrequenty_content {
	margin: 30px 0px 20px 0px;
	padding: 0px;
} 
.container__serviceCenterFrequenty {
	height: 500px;
}
.js_service_List .js_con {
    border-top: 1px solid #e8f2e6;
    font-size: 18px;
    padding: 20px;
    width: 760px;
}
.js_service_List .on .js_sub {
    font-weight: bold;
    font-size: 18px;
}
.ul.serviceCenter_Tab {
    padding: 0px;
    height: 48px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 12px;
}
ul.serviceCenter_Tab li {
	margin-bottom: -21px;
    margin-left: -5px;
    border: 1px solid #d6dfd5;
    display: inline-block;
    background-color: #e8f2e6;
    width: 300px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
}

.serviceCenterFrequenty__pageButton {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 36px;
}

.js_service_List .js_sub {
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    width: 800px;
}
.js_service_List li {
    border-bottom: 3px solid #e8f2e6;
    width: 800px;
}
.serviceCenter_search {
	display: flex;
    align-items: center;
    margin: 22px 0px 20px 0px;
}
.search-icon {
	width: 26px;
	height: 25px;
	margin-right: 3px;
	background-image: url('/resources/img/notice/search.png');
	background-repeat: no-repeat;
	background-size: 26px 25px;
}
.serviceCenter_QuestionWrite,
.serviceCenter_Searchbutton {
	display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 8px 15px;
    margin-left: 5px;
    border: 1px solid #d4b2b3;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #d18a8d;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgb(96, 31, 31);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    font-family: 'Jeju Gothic', serif;
    width: 59px;
}
.div__serviceCenter__Container {
	display: inline-block;
 }
 
.serviceCenter_Searchinput {
    width: 200px;
    height: 20px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #b7b7b7;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
	font-family: 'Jeju Gothic', serif;
}

/*문의게시판*/
label.js_questionBoard_title:hover {
    color: #bd8e8e;
    /* font-weight: 900; */
}
label.js_questionBoard_title {
    color: #2b2b33;
}

.js_frequentlyBoardContainer  {
    line-height: 27px;
    padding-left: 20px;
}

.questionBoard_container {
    disflex: flex;
    line-height: 27px; 
}

.questionBoard_top{
	display: inline-flex;
    font-size: 20px;
    text-align: center;
    padding: 4px;
    border-top: 3px solid #d2e6cd;
    border-bottom: 3px solid #d2e6cd;
}
.questionBoard_middle {
	display: inline-flex;
	font-size: 16px;
	text-align: center;
    border-bottom: 3px dotted #ebe1d2;
	padding: 5px;
}

.questionBoard_list {
	height: 400px;
}

.questionBoard_sub {
    padding: 8px;
    font-size: 15px;
    color: #ff6a6a;
    text-align: center;
}

.no {
	width: 50px;
}
.toptitle {
	width: 480px;
}
.title {
	width: 460px;
	text-align: left;
	margin-left: 20px;
}
.user {
	width: 150px;
}
.date {
	width: 100px;
}
.serviceCener_paging_button {
    font-size: 20px;
    cursor: pointer;
}

.serviceCenterFrequenty__pageButton--active {
	color: orange;
}
/*********수정폼************/
.questionBoardUpdateForm.js_questionBoardUpdateWriteContainer.font {
    margin: 25px;
}

.questionUpdateBoard-content {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 22px;
}

/**************사용자글등록창 ******/
.questionBoard-pwd {
    padding-top: 50px;
}

.questionBoardWriteForm.js_questionBoardWriteContainer.font {
    margin: 19px;
}


label.questionBoardWrite_title {
	font-size:30px;
}

.questionBoard-info {
    margin-top: 14px;
    font-size: 18px;
    margin-bottom: 30px;
}

label.questionBoardView_content {
	font-size: 23px;
}

.questionBoard_content {
	font-size: 20px;
}
.questionBoard-content {
   	margin: 10px 0px 15px 0px;
}

.boardwriteBoard {
    width: 620px;
    font-size: 18px;
    height: 25px;
    font-family: 'Jeju Gothic', serif;
    margin-bottom: 10px;
}


textarea.boardViewTextarea {
	border:none;
    width: 700px;
    height: 320px;
    font-size: 18px;
    resize: none;
    font-family: 'Jeju Gothic', serif;
    margin: 1px 0px 10px 5px;
}

textarea.boardTextarea {
    width: 700px;
    height: 320px;
    font-size: 18px;
    resize: none;
    font-family: 'Jeju Gothic', serif;
    margin: 1px 0px 10px 5px;
}

.boardtitle,
.boardSub{
	font-size: 20px;
	margin-right: 30px;
}
.boardPwd {
	font-size: 17px;
	margin-right: 5px;
}

.boardwriteBoardPwd {
	width: 150px;
	font-size: 22px;
}
.questionButton_cancel,
.questionButton_confirm {
	background-color: #fdecd2;
    border: 1px solid #2a3034;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-left: 4px;
    padding: 8px 25px;
    font-size: 18px;
    font-family: 'Jeju Gothic', serif;
}
.questionButton_cancel {
	margin-right: 30px;
}

.serviceCenter_QuestionWrite:hover,
.serviceCenter_Searchbutton:hover,
.questionButton_cancel:hover,
.questionButton_confirm:hover {
	
background: #ff9b9f;
}

ul,li {
	text-decoration: none;
    list-style: none;
}

.questionbutton {
	padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*마지막 검토하면서 추가한것*/
/*문의게시판 페이징*/
.questionBoard_bottom {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 36px;
}

.questionBoard_bottom--active {
	color:orange;
	font-weight: bold;
}



.questionBoard {
	margin-left: 40px;
}

.questionBoard_subject,
.questionBoardView_subject {
    display: flex;
    height: 300px;
    margin-top: 21px;
}

<!---->
/*비밀번호 재확인*/
.reCheckFormContainer {
    margin-top: 180px;
    text-align: center;
}

label.reCheckFormContainer_label {
    font-size: 33px;
}

label.QuestionBoardReCheckPWd_label {
    line-height: 4;
}

.QuestionBoardReCheckPWd_content {
    margin-top: 41px;
    font-size: 28px;
}

.QuestionBoardReCheckPWd_Btn {
    margin-top: 30px;
    padding-left: 41px;
}

input.QuestionBoardReCheckPWd_input {
    width: 212px;
    height: 35px;
    font-size: 25px;
}

button.QuestionBoardReCheckPWd_checkBtn1,
button.QuestionBoardReCheckPWd_checkBtn2 {
    /* padding-right: 30px; */
    background-color: #fdecd2;
    border: 1px solid #2a3034;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    margin-left: 4px;
    padding: 8px 25px;
    font-size: 18px;
    font-family: 'Jeju Gothic', serif;
}


/*수정전폼*/
.questionBoardView-detail {
    margin-bottom: 14px;
}

.questionBoardView-title {
    margin-bottom: 14px;
}

input.boardwriteBoardViewinput {
    outline: none;
    margin-left: 14px;
     height: 30px;
      font-family: 'Jeju Gothic', serif;
          font-size: 18px;
}


label.boardViewtitle {
    font-size: 20px;
    margin-left: 30px;
}

input.boardViewwriteBoard {
    outline: none;
    margin-left: 27px;
    height: 30px;
    width: 265px;
    border : none;
    font-family: 'Jeju Gothic', serif;
    font-size: 18px;
}

label.boardViewwriteDate {
    margin-left: 71px;
}

input.boardwriteBoardViewinput {
    margin-left: 12px;
    height: 30px;
    font-family: 'Jeju Gothic', serif;
    font-size: 18px;
    border: none;
}

.questionBoardView-title {
    margin-bottom: 14px;
}

label.boardViewwriter,
label.boardViewwriter {
    font-size: 20px;
    width:47px;
    padding-right: 7px;
}

.questionBoardView-sub {
    margin-left: 30px;
}

label.boardViewSub {
	padding-right: 24px;
    font-size: 22px;
    width: 46px;
}

.questionBoardView-detail {
    margin-bottom: 14px;


    width: 700px;
    font-size: 18px;
    resize: none;
    font-family: 'Jeju Gothic', serif;
    margin: 1px 0px 10px 5px;
    margin-left: 27px;
}

/*수정폼*/

.questionUpdateBoardView-detail {
    margin-bottom: 14px;
}


input.UpdateboardwriteBoardViewinput {
    outline: none;
    margin-left: 14px;
     height: 30px;
      font-family: 'Jeju Gothic', serif;
          font-size: 18px;
}


label.UpdateboardViewtitle {
    font-size: 20px;
    margin-right: 20px;
    
}

input.UpdateboardViewwriteBoard {
    outline: none;
    margin-left: 22px;
    height: 30px;
       width: 265px;
       border : none;
     font-family: 'Jeju Gothic', serif;
         font-size: 18px;
}

label.UpdateboardViewwriteDate {
    margin-left: 76px;
}

input.UpdateboardwriteBoardViewinput {
    margin-left: 7px;
     height: 30px;
      font-family: 'Jeju Gothic', serif;
          font-size: 18px;
          border: none;
}

.questionUpdateBoardView-title {
    margin-bottom: 14px;
}

label.UpdateboardViewwriter {
    font-size: 20px;
    margin-right: 15px;
}

textarea.UpdateboardViewTextarea.js_UpdateBoardTextArea {
	width: 500px;
    height: 200px;
    resize: none;
    font-size: 18px;
    font-family: 'Jeju Gothic', serif;
}

input.UpdateboardwriteBoardPwd.js_UpdateboardWriteBoardPwd {
    height: 25px;
}

.questionUpdateBoardView_subject {
    display: flex;
    padding-bottom: 17px;
}

.questionUpdateBoard {
    /* margin: 10px; */
    padding-left: 20px;
}

label.UpdateboardPwd {
	font-size: 20px;
    margin-right: 7px;
}

/**수정폼 버튼***/
.serviceCenter_viewForm {
	padding-top: 26px;
}


label.UpdateboardViewSub {
    padding-right: 24px;
    font-size: 20px;
}

.questionBoardView-detail {
    margin-bottom: 14px;


    width: 700px;
    font-size: 18px;
    resize: none;
    font-family: 'Jeju Gothic', serif;
    margin: 1px 0px 10px 5px;
    margin-left: 27px;
}

button.serviceCenter_updateWriteBoardInsert,
button.serviceCenter_updateWriteBoardDelete {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 8px 15px;
    margin-top: 11px;
    /* text-align: center; */
    margin-left: 5px;
    border: 1px solid #d4b2b3;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #d18a8d;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgb(96, 31, 31);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    font-family: 'Jeju Gothic', serif;
    width: 59px;
}

label.UpdateboardViewSub {
    padding-right: 47px;
    font-size: 20px;
}

.point {
	cursor: pointer;
}



/**************************관리자등록**************************************/
/**글등록하는폼으로가는 버튼**/
.button_managerWriteBtn {
    display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 9px 15px;
    margin-left: 44px;
    border: 1px solid #d4b2b3;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #d18a8d;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgb(96, 31, 31);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    font-family: 'Jeju Gothic', serif;
    width: 74px;
}

/**글등록폼**/
.managementQuestionBoardUpdateForm.js_managementQuestionBoardUpdateContainer.font {
    margin: 19px;
}

.managementQuestionUpdate-content {
   	margin: 10px 0px 15px 0px;
}

.managementQuestionUpdate_content {
	font-size: 20px;
}

.js_managementQuestionButtonCancel {
	
}

.div_managerButtonBtn {
    margin-left: 36%;
    margin-top: 7px;
}


.questionBoard-info {
    margin-top: 14px;
    font-size: 18px;
    margin-bottom: 30px;
}

.questionBoard-content {
   	margin: 10px 0px 15px 0px;
}

.managementQuestionUpdateBoard {
    width: 620px;
    font-size: 18px;
    height: 25px;
    font-family: 'Jeju Gothic', serif;
    margin-bottom: 10px;
}

.managementQuestionUpdate_subject {
    display: flex;
}

.managementQuestionUpdatetitle,
.managementQuestionUpdateSub{
	font-size: 20px;
	margin-right: 30px;
}

textarea.managementQuestionUpdateTextarea {
    width: 700px;
    height: 320px;
    font-size: 18px;
    resize: none;
    font-family: 'Jeju Gothic', serif;
    margin: 1px 0px 10px 5px;
}

/**수정등록 버튼**/
.managementQuestionUpdatebutton {
	padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.managementQuestionUpdateButton_cancel,
.managementQuestionUpdateButton_confirm {
	background-color: #fdecd2;
    border: 1px solid #2a3034;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-left: 4px;
    padding: 8px 25px;
    font-size: 18px;
    font-family: 'Jeju Gothic', serif;
}

.managementQuestionButton_cancel {
	margin-right: 30px;
}

.managementQuestionButton_cancel,
.managementQuestionButton_confirm {
		background-color: #fdecd2;
    border: 1px solid #2a3034;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-left: 4px;
    padding: 8px 25px;
    font-size: 18px;
    font-family: 'Jeju Gothic', serif;
}



.managementQuestionButton_cancel:hover,
.managementQuestionButton_confirm:hover {
	background-color: #ecd9ff;
}

/**관리자 자주묻는질문 수정폼*****/
.managementQuestionBoardWriteForm.js_managementQuestionBoardWriteContainer.font {
    margin: 19px;
}

.managementQuestion-content {
   	margin: 10px 0px 15px 0px;
}

.managementQuestion_content {
	font-size: 20px;
}

.questionBoard-info {
    margin-top: 14px;
    font-size: 18px;
    margin-bottom: 30px;
}

.questionBoard-content {
   	margin: 10px 0px 15px 0px;
}

.managementQuestionwriteBoard {
    width: 620px;
    font-size: 18px;
    height: 25px;
    font-family: 'Jeju Gothic', serif;
    margin-bottom: 10px;
}

.managementQuestion_subject {
    display: flex;
}

.managementQuestiontitle,
.managementQuestionSub{
	font-size: 20px;
	margin-right: 30px;
}

textarea.managementQuestionTextarea {
    width: 700px;
    height: 320px;
    font-size: 18px;
    resize: none;
    font-family: 'Jeju Gothic', serif;
    margin: 1px 0px 10px 5px;
}

/**글등록 버튼**/
.managementQuestionbutton {
	padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceCenterFrequenty__buttons {
    display: inline;
    margin-left: 97px;
}

.serviceCenterFrequenty__Updatebutton {
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-left: 9px;
    padding: 7px 4px;
    font-size: 14px;
    font-family: 'Jeju Gothic', serif;
}
.


.managementQuestionButton_cancel:hover,
.managementQuestionButton_confirm:hover {
	background-color: #ecd9ff;
}

/**자주묻는게시판에있는  관리자 버튼***/
.serviceCenterFrequenty__buttons {
    display: inline-block;
    margin-left: 100px;
}

.serviceCenterFrequenty__Updatebutton,
.serviceCenterFrequenty__Canelbutton {
    background-color: #fdecd2;
    border: 1px solid #2a3034;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-left: 4px;
    padding: 6px 6px;
    font-size: 14px;
    font-family: 'Jeju Gothic', serif;
}

.serviceCenterFrequenty__Updatebutton:hover,
.serviceCenterFrequenty__Canelbutton:hover {
	background-color: #ecd9ff;
}

/*********문의사항답글달기***************/
.serviceCenter_QuestionReplyWrite {
    background-color: #fdecd2;
    border: 1px solid #2a3034;
    cursor: pointer;
    border-radius: 3px;
    outline: none;	
    margin-left: 4px;
    padding: 6px 15px;
    font-size: 15px;
    font-family: 'Jeju Gothic', serif;
}

.ReplyQuestionBoard-content {
   	margin: 10px 0px 15px 0px;
}

.ReplyQuestionBoard-pwd {
    padding-top: 13px;
}

.ReplyBoardPwd {
    width: 150px;
    font-size: 22px;
    margin-right: 9px;
}


input.ReplyBoardwriteBoardPwd.js_ReplyBoardWriteBoardPwd {
    width: 179px;
    height: 27px;
}

.ReplyQuestionBoardWriteForm.js_ReplyQuestionBoardWriteContainer.font {
    margin: 19px;
}

/* 
label.questionBoardWrite_title {
	font-size:30px;
} */

.questionBoard-info {
    margin-top: 14px;
    font-size: 18px;
    margin-bottom: 30px;
}

label.questionBoardView_content {
	font-size: 23px;
}

.ReplyQuestionBoard_content {
	font-size: 20px;
}
.ReplyQuestionBoard-content {
   	margin: 10px 0px 15px 0px;
}

.ReplyQuestionBoard {
    width: 620px;
    font-size: 18px;
    height: 25px;
    font-family: 'Jeju Gothic', serif;
    margin-bottom: 10px;
}
.ReplyBoardwriteBoard {
    width: 445px;
    font-size: 18px;
    height: 28px;
    font-family: 'Jeju Gothic', serif;
    margin-bottom: 10px;
}


textarea.boardViewTextarea {
	border:none;
    width: 700px;
    height: 320px;
    font-size: 18px;
    resize: none;
    font-family: 'Jeju Gothic', serif;
    margin: 1px 0px 10px 5px;
}


.ReplyQuestionBoard_subject {
    display: flex;
}


textarea.ReplyBoardTextarea {
    width: 700px;
    height: 320px;
    font-size: 18px;
    resize: none;
    font-family: 'Jeju Gothic', serif;
    margin: 1px 0px 10px 5px;
}

.ReplyBoardtitle,
.ReplyBoardSub{
	font-size: 20px;
	margin-right: 47px;
}

.ReplyBoardSub {
    display: inline-table;
    font-size: 17px;
    margin-right: 49px;
}


.ReplyBoardPwd {
	width: 150px;
	font-size: 22px;
}
.ReplyQuestionButton_cancel,
.ReplyQuestionButton_confirm {
	background-color: #fdecd2;
    border: 1px solid #2a3034;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    margin-left: 4px;
    padding: 8px 25px;
    font-size: 18px;
    font-family: 'Jeju Gothic', serif;
}
.ReplyQuestionButton_cancel {
	margin-right: 30px;
}

.serviceCenter_QuestionWrite:hover,
.serviceCenter_Searchbutton:hover,
.questionButton_cancel:hover,
.questionButton_confirm:hover {
	background: #ff9b9f;
}


.ReplyQuestionbutton {
	padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

