@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
/*font-family: 'Jeju Gothic', serif; -> 이렇게 사용하심 되영*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family: 'Nanum Gothic', serif; 비밀번호*/

.div__serviceCenter_form {
	width: 759px;
    height: 790px;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding: 20px;
    background-color: #F0F0F0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.div__serviceCenter_form_title {
	background-color: #383838;
	color: white;
	padding-left: 20px;
	font-family: 'Jeju Gothic', serif;
}

.div__serviceCenter__content {
	flex-basis: 739px;
	border: 1px solid gray;
	font-size: 12px;
	line-height: 1.5em;
	background-color: white;
}

.div__serviceCenter__content__header {
	display: flex;
	flex-direction: row;
	height: 105px;
	font-family: 'Jeju Gothic', serif;
}

.div__serviceCenter__logo {
	display: flex;
	/* background-color: aliceblue; */
	width: 215px;
	height: 107px;
}

.serviceCenter_logo_image {
	 /* width: 211px; */
	 width:100%;
}

.serviceCenter_question_image {
    width: 69px;
    height: 45px;
    padding-top: 10px;
}

.div__serviceCenter__intro {
    display: flex;
    flex-direction: column;
    /* background-color: bisque; */
    padding-left: 7px;
    height: 107px;
    width:397px;
    flex: none;
    overflow: hidden;
}

.serviceCenter_intro_message {
    width: 336px;
    font-size: 15.5px;
    font-weight: 700;
    line-height: initial;
    padding-left: 6px;
    /* text-align: center; */
   /*  background-color: burlywood; */
    color: #283cab;
}

.div__serviceCenter__intro_bundle {
	/* background-color: aquamarine; */
    display: flex;
    height: 65px;
}

.serviceCenter_intro_title {
    /* background-color: beige; */
    width: 140px;
    height: 34px;
    font-size: 25px;
    font-weight: 900;
    line-height: 30px;
    padding-top: 19px;
    padding-left: 10px;
}

.div__serviceCenter__Container {
    padding-left: 20px;
    padding-top: 27px;
    padding-right: 15px;
 }


ul.serviceCenter_Tab {
	padding: 0px;
	float: left;
	list-style: none;
	height: 48px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	width: 100%;
	border-radius: 12px;
}

ul.serviceCenter_Tab li {
    float: left;
    margin: 0;
    padding: 0;
    width: 138px;
    /* padding-right: 50px; */
    height: 47px;
    line-height: 50px;
    text-align: center;
    border: 1px solid;
    margin-bottom: -1px;
    overflow: hidden;
    position: relative;
    border-left: none;
    border-radius: 10px;

}

ul.serviceCenter_Tab li a {
    text-decoration: none;
    color: rgb(42, 27, 30);
    font-weight: bold;
    display: block;
    font-size: 16px;
    outline: none;
    padding: 0 15px;
}

ul.serviceCenter_Tab li a:hover {
	background: #d2e1f9;
}

ul.serviceCenter_Tab li.active,
ul.serviceCenter_Tab li.actice a:hover {
	background: #73b5d5;
}

.div__serviceCenter_Container {
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	background: bisque;
	width: 100%;
}

.div__serviceCenter_Container_Tab {
	BACKGROUND-COLOR: white;
    HEIGHT: 342PX;
	padding-left: 19px;
    padding-bottom: 176px
}

.div__serviceCenter_info {
	display: flex;
    /* background-color: burlywood; */
    padding-top: 25px;
    line-height: 36px;
}

.div__serviceCenter_Tel {
   	display: flex;
    /* background-color: cadetblue; */
    width: 249px;
    padding-left: 110px;
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 11px;
    border-right: 2px solid;
    font-family: 'Jeju Gothic', serif;
}

.div_serviceCenter_Email {
    display: flex;
    /* background-color: cadetblue; */
    width: 268px;
    padding-left: 34px;
    font-size: 21px;
    font-weight: bolder;
    padding-bottom: 13px;
    font-family: 'Jeju Gothic', serif;
}

/*************************************자주묻는질문 ****************************************************/

.container__serviceCenterFrequenty {
/* 	background-color: white;
    padding: 20px;
    width: 950px;
    margin: auto; */
}

.container__serviceCenterFrequenty_content {
	width: 100%;	
}
	
.container__serviceCenterFrequenty__title {
/* 	border-bottom: solid black;
    padding-bottom: 12px;
    margin-top: -1px; */
}
	
button.serviceCenterFrequenty_title {
background-color: #fff;
    color: #444;
    cursor: pointer;
    PADDING-BOTTOM: 0PX;
    width: 100%;
    line-height: 50px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 19px;
    border-bottom: 1px solid;
    font-family: 'Jeju Gothic', serif;
}

button.serviceCenterFrequenty_title.active, button.serviceCenterFrequenty_title:hover {
	background-color: rgb(255, 255, 255);
    color: #191717;
    font-size: 17px;
}

div.serviceCenterFrequenty_panel {
	background-color: white;
    max-height: 0;
    overflow: hidden;
    width:1100px;
    transition: 0.6s ease-in-out;
    opacity: 0;
    width: 100%;
}

div.serviceCenterFrequenty_panel.show {
    opacity: 1;
    max-height: 800px;
}

.serviceCenterFrequenty__subjects {
    display: flex;
    background-color: #e0c198;
    height: 60px;
    line-height: 30px;
    width: 100%;
    font-size: 14px;
    text-overflow: ellipsis;
    border-bottom: 1px dashed;
    font-family: 'Nanum Gothic', serif;
}
	
	
.movie__title {
	display: inline-block;
	width: 35%;
	background-color: 
	opacity: 1.0;
    filter: alpha(opacity=100);
    
}

.serviceCenterFrequenty__contents {
display: inline-block;
    width: 94%;
    /* background-color: white; */
    opacity: 1.0;
    filter: alpha(opacity=50);
    font-family: 'Jeju Gothic', serif;
}
	
.serviceCenterFrequenty__contents:hover {
	opacity: 0.5;
	filter: alpha(opacity=100);
}

.movie__room2 {
	display: inline-block;
	width:15%;
}
	
.movie__room2:hover {
	opacity: 0.5;
	filter: alpha(opacity=100);
}
	
.movie__room3 {
	display: inline-block;
	width:15%;
}
	
.movie__room3:hover {
	opacity: 0.5;
	filter: alpha(opacity=100);
}	


/*******************************자주묻는질문*******************************************/
ul,li {
	list-style:none
}

.container__serviceCenterFrequenty_content {
    /* width: 100%; */
    display: initial;
}



.container__serviceCenterFrequenty {
	min-width:300px;
	max-width:600px;
	margin:10px;
	background:#fff;
}

.js_service_List li {
	border-bottom:1px solid #0b0523;
}

.js_service_List .js_sub {
	font-family: 'Jeju Gothic', serif;
	display:block;
	padding:8px;
	cursor:pointer;
	font-size: large;
}

.js_service_List .js_con {
    font-family: 'Nanum Gothic', serif;
    font-size: 16px;
    border: 1px solid #d5d5d5;
    border-radius: 13px;
    padding: 10px;
}

.js_service_List .on .js_sub {
	font-family: 'Nanum Gothic', serif;
    color: #5864bb;
    font-weight: 900;
    font-size: 18px;
}


.serviceCenterFrequenty__pageButton {
	font-family: 'Nanum Gothic', serif;
    background: beige;
    text-align: center;
    font-size: 17px;
    height: 32px;
    line-height: 30px;
}

