@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
/*font-family: 'Jeju Gothic', serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family: 'Nanum Gothic', serif; 비밀번호*/

.div-currentFilm {
	display: block;
}
/*현재상영작 제목*/
.div-currentFilm__title {
	font-family: 'Jeju Gothic', serif;
    margin: 33px 0px 20px 10px;
	font-size: 25px;
}
/*현재상영작 포스터가 들어갈 구역*/
.div-currentFilm-images {
	margin-left: 30px;
}
.span-currentFilm-images {
    display: inline-block;
}
/*현재상영작 포스터 하나*/
.span-filmImgs {
	width: 240px;
    height: 340px;
    background-repeat: no-repeat;
	background-size: 240px 340px;
	display: inline-block;
    margin: 0px 35px 10px 30px;
} 
.span-filmImgs:hover {
    box-shadow: 1px 1px 1px 120px rgba(50, 50, 50, 0.77) inset;
}
.span-filmImgs:hover .hiddenText{
    opacity: 0.9;
}
.hiddenText {
    font-family: 'Jeju Gothic', serif;
    cursor: pointer;
    position: absolute;
    margin: 150px 46px;
    color: #d7cdac;
    font-size: 24px;
    width: 110px;
    border-radius: 7px;
    border: 1px solid #d7cdac;
    padding: 15px 10px 10px 30px;
    opacity: 0;
}

/*비디오 */
.span-currentFilm__mainFilm {
	display: flex;
	align-items: center;
    justify-content: center;
    opacity: 0.9;
	background-repeat:no-repeat;
	width: 980px;
	height: 380px;
	background-image: url("/../resources/img/poster/fantasticBeastsVideo.jpg");
}
.span-currentFilm__mainFilm:hover {
	opacity: 1;
    box-shadow: inset rgba(13, 32, 50, 0.27) 0 0 0 0;
}

/*비디오 실행버튼*/
.video-currentFilm__start {
	padding: 5px 15px 5px 15px;
    box-sizing: content-box;
    cursor: pointer;
    width: 60px;
    height: 80px;
    font-size: 50px;
    color: white;
    border-radius: 46px;
    border: 3px solid white;
    background: rgba(156, 158, 162, 0);
}

.video-currentFilm__start:hover {
    background: rgba(156, 158, 162, 0.4);
}

/*예매순/평점순/예매하기 버튼*/
.div-currentFilm__etc {
	display: inline-block;
    margin: 30px 580px 30px 70px;
}

/*예매순 / 평점순*/
.label-currentFilm-sort {
	font-family: 'Jeju Gothic', serif;
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.label-currentFilm-sort:hover {
	color: #b79fa1;
	font-weight: bold;
}

/*영화제목*/
.span-currentFilm-text {
	text-align: -webkit-center;
    display: -webkit-box;
}
.label-currentFilm__movieTitle {
	padding-left: 7px;
	font-family: 'Jeju Gothic', serif;
    font-size: 17px;
    margin-top: 15px;
}

/*관람등급*/
.ageLimit15 {
    font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #fd9800;
	padding: 4px 2px 1px 3px;
}
.ageLimit12 {
	font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #037eb7;
	padding: 4px 2px 1px 3px;
}
.ageLimitAll {
    font-family: 'Jeju Gothic', serif;
    font-size: 13px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #7fc41b;
	padding: 4px 2px 2px 2px;
}
.ageLimit19 {
    font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #ff0000;
	padding: 4px 2px 1px 3px;
}
/*예약하기 버튼*/
.button-currentFilm-reservation {
    font-family: 'Jeju Gothic', serif;
    font-size: 18px;
    background-color: #d7cdac;
	border: 3px solid rgba(156, 156, 156, 0.25);
    padding: 3px 13px;
    color: #000000;
    font-weight: 100;
    cursor: pointer;
    border-radius: 10px;
}
.button-currentFilm-reservation:hover {
	color: #4f4f4f;
	background: #d0c8b3;
    border: 2px solid #d7cdac;
	-webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
	box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}