@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
/*font-family: 'Jeju Gothic', serif;*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*font-family: 'Nanum Gothic', serif; 비밀번호*/
.div-screeningsPlanned {
	display: block;
}
.screeningsPlanned-title {
	font-family: 'Jeju Gothic', serif;
    margin: 33px 0px 20px 10px;
	font-size: 25px;	
}
.video-plannedFilm__mainFilm {
    width: 980px;
    height: 380px;
	cursor: pointer;	
}
/*비디오*/
.screeningsPlanned-vedio {
    display: flex;
	align-items: center;
    justify-content: center;
    opacity: 0.9;
	background-repeat:no-repeat;
	width: 980px;
	height: 380px;
	background-color: rgb(34, 33, 36);
	/* background-image: url("/../resources/img/poster/fantasticBeastsVideo.jpg");	 */
}
.screeningsPlanned-vedio:hover {
	opacity: 1;
    box-shadow: inset rgba(13, 32, 50, 0.27) 0 0 0 0;
}

/*상영예정작 포스터가 들어갈 구역*/
.screeningsPlanned-posters {
	margin: 70px 0px 30px 0px;
}
.screeningsPlanned-posters__info {
    display: inline-block;
}

/*상영예정작 포스터 하나*/
.screeningsPlanned-posters__image {
	width: 240px;
    height: 340px;
    background-repeat: no-repeat;
	background-size: 240px 340px;
	display: inline-block;
    margin: 0px 35px 10px 30px;
} 
.screeningsPlanned-posters__image:hover {
    box-shadow: 1px 1px 1px 120px rgba(50, 50, 50, 0.77) inset;
}
.screeningsPlanned-posters__image:hover .hiddenText{
    opacity: 0.9;
}
.hiddenText {
    font-family: 'Jeju Gothic', serif;
    cursor: pointer;
    position: absolute;
    margin: 150px 46px;
    color: #d7cdac;
    font-size: 24px;
    width: 110px;
    border-radius: 7px;
    border: 1px solid #d7cdac;
    padding: 15px 10px 10px 30px;
    opacity: 0;
}


/*영화제목*/
.screeningsPlanned-posters__title {
	text-align: -webkit-center;
    display: -webkit-box;
    margin: -5px 0px 15px 0px;
}
.screeningsPlanned-posters__movietitle {
	padding-left: 7px;
	font-family: 'Jeju Gothic', serif;
    font-size: 17px;
    margin-top: 15px;
}

/*관람등급*/
.ageLimit15 {
    font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #fd9800;
	padding: 4px 2px 1px 3px;
}
.ageLimit12 {
	font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #037eb7;
	padding: 4px 2px 1px 3px;
}
.ageLimitAll {
    font-family: 'Jeju Gothic', serif;
    font-size: 13px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #7fc41b;
	padding: 4px 2px 2px 2px;
}
.ageLimit19 {
    font-family: 'Jeju Gothic', serif;
    font-size: 14px;
    border-radius: 100px;
    border: 2px solid;
    background-color: #ff0000;
	padding: 4px 2px 1px 3px;
}





