@CHARSET "UTF-8";

.stillCut {
    height: 600px;
    margin-top: 30px;
    display: block;
    text-align: center;
}

.row-padding {
    display: inline-block;
    text-align: center;
}
.mainImg{
    position: absolute;
    margin-top: 50px;
    left: 0;
    right: 0;
    text-align: center;
}
.mySlides {
	width: 600px;
    height: 380px;
}
.w3-col {
	padding: 10px;
}
.demo {
	 width: 140px;
    height: 100px;
    cursor: pointer;
}

.fileUploadBtn {
	display: inline-block;
    box-sizing: content-box;
    cursor: pointer;
    padding: 9px 15px;
    margin-left: 44px;
    border: 1px solid #d4b2b3;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #d18a8d;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgb(96, 31, 31);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    font-family: 'Jeju Gothic', serif;
    width: 74px;
}

.fileUploadBtn:hover {
	background: #ff9b9f;
}

.file-upload {
	
	width: 1000px;
}

.file-upload-container{
	width: 1000px;
	height: 1000px;
}